/* line 17, ../../../../../../Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Variables */
/* Use border-box */
/* line 11, style.sass */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* General Style */
/* line 16, style.sass */
body {
  background-color: white;
  margin: 0;
  color: white;
  text-shadow: black 1px 1px 1px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

/* Head Banner */
/* line 24, style.sass */
header {
  background-color: #99eeff;
  height: 30em;
  padding: 2em 3em;
}

/* line 28, style.sass */
.site-logo {
  height: 10em;
  /* logo img */
  background-image: url("../img/Transparency-Logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* Title Style */
/* line 36, style.sass */
.site-title {
  margin-left: 5em;
  font-size: 2em;
  color: white;
  text-shadow: black 1px 1px 2px;
}

/* Email Form */
/* line 43, style.sass */
.emfield {
  float: right;
  text-align: right;
  font-size: 1.2em;
}
