@import "compass/css3"

@import "compass/reset"

/* Variables */
$bodybgc: #ffffff
$ttc: #ffffff
$hdbgc: #99eeff

/* Use border-box */
*
  -moz-box-sizing: border-box
  box-sizing: border-box

/* General Style */
body
  background-color: $bodybgc
  margin: 0
  color: #ffffff
  text-shadow: #000 1px 1px 1px
  font-family: Helvetica, Verdana, Arial, sans-serif

/* Head Banner */
header
  background-color: $hdbgc
  height: 30em
  padding: 2em 3em
.site-logo
  height: 10em
  /* logo img */
  background-image: url("../img/Transparency-Logo.png")
  background-repeat: no-repeat
  background-size: contain

/* Title Style */
.site-title
  margin-left: 5em
  font-size: 2em
  color: $ttc
  text-shadow: #000 1px 1px 2px

/* Email Form */
.emfield
  float: right
  text-align: right
  font-size: 1.2em