/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html, body { width: 100%; }

a { text-decoration: none; }

header, footer {
	text-align: center;
	max-width: 960;
	padding: 1em;
}

.logo {
	background-color: red;
	width: 40px;
	height: 40px;
	margin: auto;
}

nav {
	width: 100%;
}

nav ul, footer ul {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}

nav li, footer li {
	display: inline-block;
	width: 25%;
}

nav a, footer ul li a {
	display: block;
	height: auto;
	width: 100%;
	background-color: green;
}

nav a {
	width: 100%;
	height: 2em;
}

header h1 {
	font-family: sans-serif;
}

