doctype 5
html
  head
    meta [charset="UTF-8"]
    meta [name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"]
    title Transparency
    link [rel="stylesheet" href="css/style.css" media="screen" type="text/css"]
  body
    .wrapper
      header
        img [class="site-logo" src=""]
        h1 [class="site-title en"] Transparency
        h1 [class="site-title cn"] 明·度
        nav
          ul [class="navbar" role="navigation"]
            li
              a [href=""] Professors
            li
              a [href=""] Articles
            li
              a [href=""] Activities
      .headline
        img [class="headline-image" src=""]
        h2 [class="headline-title"]
        p [class="headline-summary"]
      section [class="professors"]
        h2 [class="section-title"] Professors
        ul [class="professor-list"]
          li [class="professor"]
            img [class="professor-image" src=""]
            h2 [class="professor-name"] Aye
            p [class="professor-intro"] Aye is a good professor
          li [class="professor"]
            img [class="professor-image" src=""]
            h2 [class="professor-name"] Bai
            p [class="professor-intro"] Bai is a good professor
          li [class="professor"]
            img [class="professor-image" src=""]
            h2 [class="professor-name"] Chi
            p [class="professor-intro"] Chi is a good professor
      section [class="articles"]
        h2 [class="section-title"] Articles
        ul [class="article-list"]
          li [class="article"]
            img [class="article-cover" src=""]
            h3 [class="article-title"] Apocalypse
            p [class="article-sum"] Apocalypse is a disaster
          li [class="article"]
            img [class="article-cover" src=""]
            h3 [class="article-title"] Breaucracy
            p [class="article-sum"] Breaucracy is a disaster
          li [class="article"]
            img [class="article-cover" src=""]
            h3 [class="article-title"] Catastrophe
            p [class="article-sum"] Catastrophe is a disaster
      section [class="activities"]
        h2 [class="section-title"] Activities
        ul [class="activities-list"]
          li [class="activity"]
            img [class="activity-cover" src="" alt=""]
            h3 [class="activity-title"] Get Up!
            p [class="activity-sum"] Fight Disasters
      footer
        p [class="copyright"]
          | Designed by 
          a [href=""] @FRIdSUN
          | . All rights reserved.