@import "compass/reset"

@font-face
  font-family: TianYanKai
  src: url(./TianYanKai.ttf)
  font-weight: 400

.poster-title
  float: right
  .title-text
    text:
      align: right
    font:
      size: 5em
      family: sans-serif
    margin:
      right: 0.1em
  .en
    font:
      size: 8em
      family: 'Tangerine', serif
  .cn
    vertical-align: true
    font:
      family: TianYanKai, sans-serif
    letter-spacing: 0.2em